* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body.bg-grey {
    background-color: #ddd;
}
body{ 
    font-size: 16px;
    color: rgb(33, 37, 41);
    display: block;
    line-height: 24px;
    margin: 0;
    text-align: start;
    text-size-adjust: 100%;
    font-weight: 400;
}
.account {
    margin:100px auto;
    display: flex;
    max-width: 900px;
    height: 418.8px;
}
.account.bordered-grey{
    border-style: solid;
    border-width: 0.8px;
    border-radius: 6.4px;
    border-color: rgb(239, 240, 240);
    border-image-outset: O;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    display: flex;
}
.account-details{
    background-color: rgb(41, 58, 65);
    color:rgb(255,255,255);
    flex-basis: auto;
    padding: 2rem;
    flex-grow: 0;
}
.account .account-details .logo img {
    height: 100%;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
.logo{
    border-bottom-color: rgb(222, 226, 230);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    height: 80px;
    margin-top: -1rem;
    padding-bottom: 1rem;
    text-align: center;
    unicode-bidi: isolate;
}
.contact {
    position: relative;
    display: inline;
    cursor: pointer;
    height: auto;
    text-decoration: none;
    color: inherit;
}
.account-details, .account-form {
    width: 50%;
}
.account-form {
    background-color: rgb(245,245,245);
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem 2rem;
    padding-top: 0;
}
.title {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(222, 226, 230);
    text-align: center;
}
.account-form h2 {
    margin:40px 0 20px;
    font-size: 1.75rem;
    line-height: 1.2;
    font-family: "Poppins", sans-serif !important;
}
.form-field{
    margin-bottom: 1rem;
}
.form-field label {
    display: block;
}
.form-label {
    margin: 0.5rem 0;
    font-size: 0.875rem;
    line-height: 21px;
}
.form-control{
    display: block;
    width: 100%;
    padding:0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color 0.15s , box-shadow 0.15s ;
    opacity: 0.5;
}
.form-control:focus {
    border-color:#bf9471;
    color: #212529;
    outline:0;
} 
.form-control:active {
    border-color:#bf9471;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    margin-bottom: 0.125rem;
    padding-left: 1.5em;
}
.form-check-input {
    background-color: #fff;
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    appearance: none;
    float: left;
    margin-left: -1.5em;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #212529;
    border-radius: 0.25em;
}
.form-check-input:checked {
    background-color: #bf9471;
    border-color: #bf9471;
}
.form-check-label {
    color:#97a4ab;
}
.form-check-input:checked::before {
    content: "✔"; /* Checkmark symbol */
    color: white; /* Checkmark color */
    font-size: 14px; /* Adjust font size */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Center checkmark inside the box */
}
.form-button {
    padding:0.5rem 0;
    margin-bottom: 1rem;
}
.btn {
    cursor: pointer;
    width: 100%;
    border: 1px none #bf9471;
    background-color: #bf9471;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    padding:0.375rem ;

}
.account-links {
    color: rgb(108, 117, 125);
    cursor: pointer;
}
@media only screen and (max-width: 992px) {
    .account {
        margin: 5%;
        display: flex;
        flex-wrap: wrap;
        height: 542.8px;
    }
    .account-details{
        width: 100%;
        border-top-left-radius: 6.4px;
        border-top-right-radius: 6.4px;
    }
    .account-form {
        width: 100%;
        border-bottom-left-radius: 6.4px;
        border-bottom-right-radius: 6.4px;
    }
}
